<%- include("header") -%>

<h2>This is the about page</h2>

<p>This site is Created by Aman Chaudhary.The main motive of this site is to provide the users with a customlitsts of items
which they want to do during the day & they can add all their daily routine stuff in the provided lists according their own priorities</p>

<%- include("footer") -%>
